{% extends "base.html" %}

{% block title %}Shreyas Pimpalkar{% endblock %}

{% block navbar1 %}
<nav class="site-navigation position-relative text-right" role="navigation">
  <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
    <li><a href="#home-section" class="nav-link">Home</a></li>
<!--     <li><a href="#services-section" class="nav-link">Services</a></li> -->
    <li><a href="#about-section" class="nav-link">About</a></li>

  </ul>
</nav>
{% endblock %}

{% block navbar2 %}
<nav class="site-navigation position-relative" role="navigation">
  <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
    <li><a href="#portfolio-section" class="nav-link">Portfolio</a></li>
<!--     <li><a href="#clients-section" class="nav-link">Client</a></li> -->
    <li><a href="#contact-section" class="nav-link">Contact</a></li>
  </ul>
</nav>
{% endblock %}

{% block intro %}
<div class="row justify-content-center">

  <div class="col-md-12 mt-lg-5 text-left align-self-center text-intro">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="text-black">I'm Shreyas Pimpalkar</h1>
        <p class="lead">I'm Graduate Student at University at Buffalo</p>
        <p>Currently pursuing Master's in Data Science</p>
        <p>
          <a href="/downloadfile/shreyaspimpalkar.pdf" class="btn smoothscroll btn-primary">Resume</a>
          <a href="https://github.com/shreyas10p" target="_blank" class="btn smoothscroll btn-secondary">Github</a>
          <a href="https://www.linkedin.com/in/shreyaspimpalkar" target="_blank" class="btn smoothscroll btn-ternary">LinkedIn</a>
        </p>
        <p>Email: shreyas.pimpalkar1@gmail.com</p>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block services %}
<!-- <div class="site-section" id="services-section">
  <div class="container">
    <div class="row ">
      <div class="col-12 mb-5 position-relative">
        <h2 class="section-title text-center mb-5">My Services</h2>
      </div>

      <div class="col-md-6 mb-4">
        <div class="service d-flex h-100">
          <div class="service-number mr-4"><span class="icon-style"></span></div>
          <div class="service-about">
            <h3>UI/UX Designer</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="service d-flex h-100">
          <div class="service-number mr-4"><span class="icon-business_center"></span></div>
          <div class="service-about">
            <h3>Web Development</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="service d-flex h-100">
          <div class="service-number mr-4"><span class="icon-desktop_windows"></span></div>
          <div class="service-about">
            <h3>Brand &amp; Logo Design</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="service d-flex h-100">
          <div class="service-number mr-4"><span class="icon-layers"></span></div>
          <div class="service-about">
            <h3>Web Design</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis ipsum error eligendi molestiae eaque quas, ducimus sequi excepturi?</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div> -->
{% endblock %}

{% block aboutme %}
<div class="site-section" id="about-section">
  <div class="container">
    <div class="row ">
      <div class="col-12 mb-4 position-relative">
        <h2 class="section-title">About Me</h2>
      </div>
      <div class="col-lg-4 order-1 order-lg-2 mb-4 mb-lg-0">
        <div class="bg-light">
        <img src="{{ url_for('static', filename='images/face3.png') }}" alt="Image" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-4 order-2 order-lg-1">
        <p>"You can win by effort, by commitment, by ambition, by quality, by expressing yourself individually, but in team context."</p>
        <p>
          With 2+ years of full-stack development experience for global businesses. I am focused and dedicated individual with a passion for crafting clean and simple interfaces. I enjoy building application with modern languages and frameworks like JavaScript,C,php,python and nodejs.
        </p>
      </div>
      <div class="col-lg-4 order-3 order-lg-3">
        <p>I have always been a company man with commitment towards goals and ambitions of the company. In the past I have worked on several web applications which have been a great asset to the companies.</p>
        <p><a href="#contact-section" class="btn smoothscroll btn-primary">Contact Me</a></p>
      </div>

    </div>
  </div>
</div>
{% endblock %}

{% block portfolio %}
<section class="site-section block__62272" id="portfolio-section">


  <div class="container">
    <div class="row mb-5">
      <div class="col-12 position-relative">
        <h2 class="section-title">Companies worked for</h2>
      </div>
    </div>


    <div id="posts" class="row no-gutter">

      <div class="item web col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
        <a title="Hasbinary Services" href="http://hashbinary.com/" class="item-wrap" target="blank">
          <img class="img-fluid" src="{{ url_for('static', filename='images/hashbinary_1.png') }}">
        </a>
      </div>
      <div class="item web col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
        <a title="IRIS Business Services"
         href="http://www.irisbusiness.com/" class="item-wrap" target="blank">
          <img class="img-fluid" src="{{ url_for('static', filename='images/iris.png') }}">
        </a>
      </div>

      <div class="item web col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
        <a title="Indian Institute of Technology"
         href="http://www.iitb.ac.in/" class="item-wrap" target="blank">
          <img class="img-fluid" src="{{ url_for('static', filename='images/iitb.jpg') }}">
        </a>
      </div>

      <div class="item design col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">

       <p>• Worked with senior developer to manage large, complex design projects for corporate clients.</p>
<p>• Complete detailed programming and development task for public and internal websites as well as challenging back-end server code.
</p>

      </div>

      <div class="item design col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">

       <p>• Worked on the financial reporting and conceptualizing the making of insights and intelligence available to the clients based on the data of the tax fillings.</p>


      </div>
      <div class="item design col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
      <p>• Build and managed an application which collected data using the web scrappers from various social media platforms and stored data in NO SQL servers.</p>
      <p>• Performed text analysis on the collected data based and performed visualisation of the data using D3.js</p>
    </div>
  </div>

</section>
{% endblock %}

{% block testimonials %}
<!-- <section class="site-section bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5 position-relative">
        <h2 class="section-title text-center mb-5 text-white">testimonials</h2>
      </div>
    </div>
    <div class="owl-carousel slide-one-item">
      <div class="slide">
        <blockquote>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
          <p><cite>&mdash; Jean Smith</cite></p>
        </blockquote>
      </div>
      <div class="slide">
        <blockquote>
          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
          <p><cite>&mdash; Carl Spencer</cite></p>
        </blockquote>
      </div>
      <div class="slide">
        <blockquote>
          <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
          <p><cite>&mdash; Ryan Peters</cite></p>
        </blockquote>
      </div>
    </div>
  </div>
</section> -->
{% endblock %}

{% block clients %}
<!-- <section class="site-section"  id="clients-section">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5 position-relative">
        <h2 class="section-title text-center">Clients</h2>
      </div>
      <div class="col-6 col-sm-6 col-md-4 col-lg-4 text-center">
        <img src="images/logo_1.jpg" alt="Image" class="img-fluid">
      </div>
      <div class="col-6 col-sm-6 col-md-4 col-lg-4 text-center">
        <img src="images/logo_2.jpg" alt="Image" class="img-fluid">
      </div>
      <div class="col-6 col-sm-6 col-md-4 col-lg-4 text-center">
        <img src="images/logo_3.jpg" alt="Image" class="img-fluid">
      </div>
      <div class="col-6 col-sm-6 col-md-4 col-lg-4 text-center">
        <img src="images/logo_4.jpg" alt="Image" class="img-fluid">
      </div>


      <div class="col-6 col-sm-6 col-md-4 col-lg-4 text-center">
        <img src="images/logo_5.jpg" alt="Image" class="img-fluid">
      </div>
      <div class="col-6 col-sm-6 col-md-4 col-lg-4 text-center">
        <img src="images/logo_6.jpg" alt="Image" class="img-fluid">
      </div>
    </div>
  </div>
</section> -->
{% endblock %}


{% block contact %}
<section class="site-section" id="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5 position-relative">
        <h2 class="section-title text-center mb-5">Contact Form</h2>
      </div>
    </div>
    <form action="#" class="form">
      <div class="row mb-4">
        <div class="form-group col-6">
          <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="form-group col-6">
          <input type="text" class="form-control" placeholder="Last name">
        </div>
      </div>

      <div class="row mb-4">
        <div class="form-group col-12">
          <input type="email" class="form-control" placeholder="Email address">
        </div>
      </div>

      <div class="row mb-4">
        <div class="form-group col-12">
          <input type="text" class="form-control" placeholder="Subject of the message">
        </div>
      </div>

      <div class="row mb-4">
        <div class="form-group col-12">
          <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Type your message here.."></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <input type="submit" class="btn btn-primary" value="Send Message">
        </div>
      </div>

    </form>
  </div>
</section>
{% endblock %}

{% block address %}
<div class="row mb-5">
  <div class="col-md-3">
    <h3 class="footer-title">Me Address</h3>
    <p><span class="d-inline-block d-md-block"></span> </p>
  </div>
  <div class="col-md-5 mx-auto">
    <div class="row">
      <!-- <div class="col-lg-4">
        <h3 class="footer-title">Services</h3>
        <ul class="list-unstyled">
          <li><a href="#">Web App</a></li>
          <li><a href="#">Graphic</a></li>
          <li><a href="#">Branding</a></li>
        </ul>
      </div> -->
     <!--  <div class="col-lg-4">
        <h3 class="footer-title">Resources</h3>
        <ul class="list-unstyled">
          <li><a href="#">Web App</a></li>
          <li><a href="#">Graphic</a></li>
          <li><a href="#">Branding</a></li>
        </ul>
      </div> -->
      <div class="col-lg-4">
        <h3 class="footer-title">Links</h3>
        <ul class="list-unstyled">
          <li><a href="#">Web App</a></li>
          <li><a href="#">Graphic</a></li>
          <li><a href="#">Branding</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <h3 class="footer-title">Follow Me</h3>
    <a href="#" class="social-circle"><span class="icon-twitter"></span></a>
    <a href="#" class="social-circle"><span class="icon-facebook"></span></a>
    <a href="#" class="social-circle"><span class="icon-instagram"></span></a>
    <a href="#" class="social-circle"><span class="icon-dribbble"></span></a>
    <a href="#" class="social-circle"><span class="icon-linkedin"></span></a>
  </div>
</div>
{% endblock %}
